body {
    background-color: #7D76B3;
}

h1 {
    font-size: 32;
    font-weight: bold;
    text-align: center;
    padding-top: 15%;
    color: #302238;
}

.ball {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin: 50px auto;
    width: 200px;
}

.form {
    text-align: center;
}

.ponder {
    font-size: 14px;
    border-radius: 10px;
    background-color: #564E7E;
    border: 1px solid #302238;
    width: 100px;
}

.field {
    background-color: #7D76B3;
    /* border: 1px solid #564E7E; */
    border: none;
    border-bottom: 2px solid #564E7E;
    font-size: 18px;
    /* border-radius: 10px; */
}
::placeholder {
    text-align: center;
    font-style: italic
}