body {
    background-color: #7D76B3;
}

h1 {
    font-size: 48;
    font-weight: bold;
    text-align: center;
    padding-top: 10%;
    color: #302238;
}

.ball {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin: 50px auto;
    width: 300px;
}

.form {
    text-align: center;
}

.info {
    display: block;
    margin-right: 50px;
    margin-left: auto;
    height: 50px;
    width: 50px;
    margin-top: 100px;
}
.field {
    background-color: #7D76B3;
    /* border: 1px solid #564E7E; */
    border: none;
    border-bottom: 2px solid #564E7E;
    font-size: 18px;
    text-align:center;
    caret-color:transparent;
    
    /* border-radius: 10px; */
}
::placeholder {
    text-align: center;
    font-style: italic
}

.sparkle {
    width: 35px;
    height: 35px;
    
    position:relative;
    top:10px;
}